{% if paginator.total_pages > 1 %}
  <div class="row text-center text-caps">
    <div class="col-md-8 col-md-offset-2">
      <nav class="pagination" role="navigation">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="{{ site.url }}">&larr; Newer Posts</a>
        {% else %}
		      <a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}">&larr; Newer Posts</a>
        {% endif %}
      {% endif %}
      <span class="page-number">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}">
          Older Posts &rarr;
        </a>
      {% endif %}
      </nav>
    </div>
  </div>
{% endif %}
