{% if paginator.total_pages > 1 %}
  <div class="row text-center text-caps">
    <div class="col-md-8 col-md-offset-2">
      <nav class="pagination" role="navigation">
        {% if paginator.previous_page_path %}
          {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.baseurl }}">&larr; Newer Posts</a>
          {% else %}
		        <a class="newer-posts" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&larr; Newer Posts</a>
          {% endif %}
        {% endif %}
      <span class="page-number">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page_path %}
        <a class="older-posts" href="{{ site.url }}{{ paginator.next_page_path }}">
          Older Posts &rarr;
        </a>
      {% endif %}
      </nav>
    </div>
  </div>
{% endif %}
