<ul class="post-share ulno mob">
<li class="fb"><div class="fb-follow" data-href="http://www.facebook.com/yeuem1vannam" data-width="50" data-colorscheme="dark" data-layout="button_count" data-show-faces="true"></div></li>
<li class="tw"><a href="https://twitter.com/yeuem1vannam" class="twitter-follow-button" data-show-count="false" data-lang="en-gb" data-dnt="true">Follow @yeuem1vannam</a></li>
<div id="fb-root"></div>
<!-- Place this tag where you want the widget to render. -->
<li class="gp"><div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/102717131394874333583" data-rel="author"></div></li>
</ul>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1459134404305782";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
